<div class="banner">
    
</div>

<app-slider-image-gallery></app-slider-image-gallery>

<!-- <img class="img-fluid" src="assets/img/to-chuc-tiec/banner-tiec2.jpg" alt="Tổ chức tiệc sự kiện"> -->

<h2 class="my-4">tổ chức tiệc tư gia, tất niên</h2>

<div class="container to-chuc-tiec">
        <div class="row">
            <div class="col-md-6 order-md-1">
                <h3>tổ chức chuyên nghiệp</h3>
                <p>Bằng sự linh hoạt và thái độ chuyên nghiệp Á Châu Catering tự tin có thể thõa mãn đúng yêu cầu của khách hàng bằng một buổi tiệc tuyệt vời và làm hài lòng mọi thực khách dù đó là một buổi tiệc lớn sang trọng hay một buổi hội họp nhẹ nhàng đơn giản.</p>
                <p class="mb-4">Hãy cho chúng tôi biết nhu cầu và ngân sách chi tiêu cho buổi tiệc của bạn, chúng tôi sẽ hỗ trợ và giúp bạn lên ý tưởng cho buổi tiệc của mình.</p>
                <div class="my-2">
                    <app-btn-lienhe [lienhe]="mrDuc" [phone]="+84909161144">
                    </app-btn-lienhe>
                </div>
            </div>
    
            <div class="col-md-6 order-md-2 mb-4">
                <img class="img-fluid img-thumbnail" src="assets/img/to-chuc-tiec/mrDuc.jpg" alt="suất ăn công nghiệp">
            </div>
    
            <div class="col-md-6 order-md-4">
                <h3>Thực Đơn Phong Phú</h3>
                <p>Với kinh nghiệm làm trong lĩnh vực nhà hàng, khách sạn trên 15 năm của các đầu bếp chúng tôi mang tới quý khách những món ăn chất lượng và trình bày đẹp mắt nhất</p>
                <p>Cùng với các trang thiết bị nhà bếp hiện đại. Á Châu Catering luôn sẵn sàng cung cấp một thực đơn đa dạng với hàng trăm món từ phong cách Á – Âu, Thuần Việt cho đến những yêu cầu về ăn chay, ăn kiêng.</p>
                <app-btn-component [href]="hrefThucDon" [content]="contentXemTD"></app-btn-component>
            </div>
    
            <div class="col-md-6 order-md-3 mb-4">
                <img class="img-fluid img-thumbnail" src="assets/img/suat-an-cong-nghiep/s4.jpg" alt="suất ăn công nghiệp">
            </div>
        </div>
    </div>