<div class="dich-vu card-group">
  <div id="dv1" class="card scene-fadein">
    <img class="card-img-top" src="assets/the1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Quầy Dịch Vụ</h4>
      <div class="the-border-bottom"></div>
      <p class="card-text">Cung cấp quầy dịch vụ bán nước, bánh, đồ ăn nhẹ cho khách hàng</p>
    </div>
    <div class="card-footer bg-transparent"><a class="xem-them" href="#">Xem thêm</a></div>
  </div>
  <div id="dv2" class="card scene-fadein">
    <img class="card-img-top" src="assets/the2.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Suất Ăn Công Nghiệp</h4>
      <div class="the-border-bottom"></div>
      <p class="card-text">Cung cấp phần ăn cho công ty, nhà máy, trường học với mục tiêu chất lượng, tươi sạch và giá cả hợp lý</p>
    </div>
    <div class="card-footer bg-transparent"><a class="xem-them" href="#">Xem thêm</a></div>
  </div>
  <div id="dv3" class="card scene-fadein">
    <img class="card-img-top" src="assets/the3.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Chuỗi Nhà Thuốc</h4>
      <div class="the-border-bottom"></div>
      <p class="card-text">Cung cấp dịch vụ và phân phối thuốc - dụng cụ y tế và các dịch vụ về chăm sóc sức khoẻ</p>
    </div>
    <div class="card-footer bg-transparent"><a class="xem-them" href="#">Xem thêm</a></div>
  </div>
</div>
