<nav class="navbar navbar-expand-md navbar-light">
	<a class="navbar-brand" routerLink=""><img src="../../../assets/logo_cantin.gif" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-3" id="nav1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">Trang chủ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dịch vụ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link dropdown-item pl-3" href="#">Suất ăn công nghiệp</a>
          <a class="nav-link dropdown-item pl-3" href="#">Cung cấp thực phẩm</a>
          <a class="nav-link dropdown-item pl-3" href="#">Quầy dịch vụ tiện ích</a>
          <a class="nav-link dropdown-item pl-3" href="#">Tổ chức tiệc hội nghị, sự kiện</a>
          <a class="nav-link dropdown-item pl-3" href="#">Tư vấn thiết kế, xây dựng bếp</a>
          <a class="nav-link dropdown-item pl-3" href="#">Chuỗi nhà thuốc</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tin tức & Sự kiện</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tuyển dụng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lien-he">Liên hệ</a>
      </li>
    </ul>

    <div class="social-icon">
    	<a href="#"><i class="fa fa-facebook mr-2"></i></a>
    	<a href=""><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</nav>

