<div class="gioi-thieu-2">
  <!-- <div class="the suat-an">
    <h2 class="mt-1">Các Món Ăn Trong Menu</h2>
    <h4>A Sneak Peak of the <br>New Spring Menu</h4>
    <div class="the-border-bottom"></div>
    <p>Cung cấp quầy dịch vụ bán nước, bánh, đồ ăn nhẹ</p>
    <p>Peas with Mint and Rose Petals</p>
    <p>Grilled Corn with Herb Butter</p>
    <p>Falafel-Spiced Tomatoes on Whole Wheat Flatbread</p>
    <p>Primavera Risotto</p>
    <p>Farmer’s Market Quinoa Salad</p>
    <p>Sparkling Wine with Ginger Ale and Cherries</p>
    <a class="btn btn-info xem-menu mt-4" href="#">Xem Menu</a>
  </div> -->

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Các Món Ăn Trong Menu</h2>
      <h6 class="card-subtitle mb-2 text-muted">A Sneak Peak of the New Spring Menu</h6>
      <div class="the-border-bottom"></div>
      <p class="card-text">Cung cấp quầy dịch vụ bán nước, bánh, đồ ăn nhẹ. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut asperiores exercitationem optio adipisci consequuntur commodi sed! Quia dolor accusantium corporis quod recusandae ipsum beatae ipsa unde illo, nisi aspernatur nemo.</p>
    </div>
    <div class="card-footer bg-transparent mb-2">
      <a class="btn btn-info xem-menu" href="#">Xem Menu</a>
    </div>
  </div>
</div> 

