.banner {
    background: url('./../../../../assets/img/suat-an-cong-nghiep/s5.jpg') center center;
    background-size: cover;
    height: 250px;
}

.suat-an-cong-nghiep h3 {
    
    font-size: 30px;
    font-family: "anton";
    color: #333;
}

.suat-an-cong-nghiep p {
    text-align: justify;
    font-size: 14px;
    color: #808080;
}

.col-md-6 {
    margin-bottom: 15px;
}


@media (min-width: 576px) {
    .banner {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .banner {
        height: 450px;
    }
}

@media (min-width: 992px) {  
    .banner {
        height: 500px;
    }
}



