<div class="banner">

</div>
<h2 class="my-4">SUẤT ĂN CÔNG NGHIỆP</h2>

<div class="container suat-an-cong-nghiep">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <h3>TRÂN TRỌNG KHÁCH HÀNG</h3>
            <p>Bữa ăn ngon đầy đủ dưỡng chất quyết định rất nhiều đến năng suất lao động, trong thời điểm mọi người luôn hối
                hả chạy đua với khối lượng công việc ngày càng nhiều và áp lực. Hãy để Á Châu Catering giúp bạn có những
                giây phút được thư giãn bên bữa ăn ngon và chúng tôi sẽ cam kết không làm mất nhiều thời gian của thực khách
                bằng việc luôn đúng giờ cho mọi bữa ăn mà Á Châu Catering được vinh dự đảm nhận.</p>
            <p>Chúng tôi hiểu rõ sự phát triển vững bền của Á Châu Catering sẽ dựa trên trên nền tảng tín nhiệm và sự hài lòng
                của quý khách hàng. Do đó Á Châu Catering sẽ luôn phục vụ khách hàng bằng lương tâm, trách nhiệm cùng với
                những dịch vụ tốt nhất mà chúng tôi có thể mang đến.</p>
        </div>

        <div class="col-md-6 order-md-2 mb-4">
            <img class="img-fluid img-thumbnail" src="assets/img/suat-an-cong-nghiep/s6.jpg" alt="suất ăn công nghiệp">
        </div>

        <div class="col-md-6 order-md-4">
            <h3>HẤP DẪN TRONG TỪNG BỮA ĂN</h3>
            <p>Sở hữu những đầu bếp chuyên nghiệp giàu kinh nghiệm, nguồn thực phẩm chất lượng tươi sạch, hệ thống trang thiết
                bị nhà bếp hiện đại,…. Á Châu Catering tự tin sỡ hữu một ngân hàng thực đơn phong phú với các món ăn Á –
                Âu hay đậm chất thuần Việt và được thay đổi hàng ngày ít sự trùng lặp giúp người ăn luôn được ngon miệng.</p>
        </div>

        <div class="col-md-6 order-md-3 mb-4">
            <img class="img-fluid img-thumbnail" src="assets/img/suat-an-cong-nghiep/s4.jpg" alt="suất ăn công nghiệp">
        </div>

        <div class="col-md-6 order-md-5">
            <h3>GIÁ THEO YÊU CẦU</h3>
            <p>Á Châu Catering luôn tư vấn thực đơn với giá mỗi phần ăn cạnh tranh nhất cho quy mô của quý công ty.</p>
            <p>Bên cạnh hệ thống menu đạ dạng hằng ngày, Á Châu Catering luôn có khẩu phần cung cấp suất ăn cho những khách
                    hàng muốn giảm cân lựa chọn với nhiều rau xanh, hoa quả. Đồng thời Á Châu Catering sẽ cung cấp riêng những
                    phần ăn chay cho những khách hàng có nhu cầu.</p>
        </div>

        <div class="col-md-6 order-md-6">
            <img class="img-fluid img-thumbnail" src="assets/img/suat-an-cong-nghiep/s3.jpg" alt="suất ăn công nghiệp">
        </div>

    </div>
</div>

<app-cac-doi-tac></app-cac-doi-tac>
