<img src="assets/img/lien-he.jpg" alt="suat-an-cong-nghiep" width="100%">
<div class="lien-he mt-5 mb-3 container">
  <div class="row">
    <div class="col-md-6">
      <h3>Văn Phòng Á Châu Catering</h3>
      <hr>
      <p>Tầng 4, Tòa nhà Pax Sky, số 123 Nguyễn Đình Chiểu, Phường 6, Quận 3, Tp. Hồ Chí Minh, Việt Nam</p>

      <p>Điện thoại: (028) 3930 5180 <br>Email: info@famima.vn <br>Giờ mở cửa: Sáng: 8:00 – 11:30, Chiều: 12:30 – 5:00</p>

      <p>Mọi thắc mắc hoặc góp ý về sản phẩm và dịch vụ, quý khách hàng vui lòng gửi e-mail về cho chúng tôi để nhận được sự
        hỗ trợ tốt nhất.</p>
    </div>
    <div class="col-md-6">
      <h3>Thông Điệp</h3>
      <hr>
      <form>
        <div class="form-group">
          <label for="name">Tên</label>
          <input id="name" class="form-control" type="text" placeholder="Nhập tên của bạn tại đây">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" placeholder="Nhập tên của bạn tại đây">
        </div>

        <div class="form-group">
          <label for="content">Nội dung</label>
          <textarea type="email" id="content" class="form-control" placeholder="Nhập thông điệp bạn muốn gửi" cols="50"></textarea>
        </div>

        <button class="btn btn-success">Gửi</button>
      </form>
    </div>
  </div>
  
</div>
<app-map></app-map>